* {
    margin: 0;
    padding: 0;
    color:seashell;
    text-align: center;
    font-family: Helvetica;

}
html {
    background-color: black;
}

body {
    margin: auto;
    font-size: 22px;
    max-width: 1200px;
    background-color: black;
    opacity: 0.9;
}

header {
    background-color: black;
    height: 69px;
    max-width: 1200px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    opacity: 1;
}

header a {
    margin: 10px;
}

.nav {
    position: relative;
    color: seashell;
}

.main {
    padding-top: 80px;
}

.mission {
    width: 90%;
    height: 700px;
    width: 1200;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
}

.month {
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 20px;
}

.month #featuredtea {
    padding-top: 20px;
    width: 100%;
}

#image {
    max-width: 1200px;
    height: auto;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

#image img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.location {
    max-width: 1200px;
    height: 500px;
    margin: auto;
    padding-top: 20px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-position: center; 
    justify-content: center;
    align-content: center;
}

.locbox{
    margin: auto;
    max-width: 1200px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}

#adress {
    width: 300px;
    margin: 10px;
    padding-top: 3px;
    background-color: black;
    opacity: 2;
    justify-content: center;
    align-content: center;
}

#adress h3, #adress h4 {
    max-width: 300px;
}

#logo {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: flex-start;
}

#featuredtea {
    margin: auto;
    padding-top: 20px;
        
}

