header {
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
}

body {
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;    
}

#logo {
    height: 50px;
    margin-left: 10px;
}